<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <div class="btn-group pull-right">
          <button class="btn btn-xs btn-default btn-google-plus" ng-click="openURI('https://plus.google.com/+Unity-LinuxProjectOrg')"><i class="fa fa-fw fa-google-plus"></i></button>
          <button class="btn btn-xs btn-default btn-facebook" ng-click="openURI('https://www.facebook.com/unitylinux')"><i class="fa fa-fw fa-facebook"></i></button>
          <button class="btn btn-xs btn-default btn-twitter" ng-click="openURI('https://twitter.com/unitylinux')"><i class="fa fa-fw fa-twitter"></i></button>
        </div>
        <li><a href="#/main">Home</a></li>
        <li class="active">Contribute</li>
      </ol>
      <h1 class="page-title"><strong>Contribute.</strong> Securing our Future</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Thanks for your support</h2>
      <p>The Unity-Linux Project receives a great deal of support from its community and we would like to thank each and every contributor for participating. We are growing at a steady pace and our distribution is getting better every day, thanks to you.</p>
      <p>It is very easy to make a difference. Depending on your skill set and availability you can help Unity-Linux in one or more of the following ways:</p>

      <h2>Support &amp; Promotion</h2>
      <h3>Spreading the word</h3>
      <p>If you like Unity-Linux, <em>let people know</em>. Write a review and publish it on a blog. Follow and mention us on social media like Facebook, Google+ and Twitter. Talk about it with your friends and the people around you.</p>

      <h3>Joining the Community</h3>
      <p>Unity-Linux isn't just an operating system, it's also a dynamic community of people who enjoy and interact with a free and open project. Whether it's by helping others sort through issues, making them feel welcome, or simply meeting with and talking to other Unity-Linux users, we recommend you join the community and participate in making it better.</p >
      <p>You can register an account online at <a ng-click="openURI('http://unitylinux.org/register/')">our website</a>, which gives <a ng-click="openURI'http://unitylinux.org/support/engage/')">access to Engage</a> (our support platform) and other goodies.</p>

      <h3>Helping Others</h3>
      <p>If you have some spare time and you're willing to help other users with technical problems, you should seriously consider reading threads in <a ng-click="openURI('http://unitylinux.org/support/engage/')">Engage</a> and/or joining our #linux IRC channel on the <a ng-click="openURI('http://freenode.net/using_the_network.shtml')">Freenode</a> network. You don't have to be an expert, just willing. Helping other Unity-Linux users to solve problems frees up time for our main developers, plus it's a rewarding and great way to learn more yourself.</p>

      <h2>Project Contributions</h2>
      <h3>Bug Reports</h3>
      <p>If you've noticed something that doesn't work properly while using Unity-Linux, please <a ng-click="openURI('https://unitylinux.org/support/engage?type=problem')">let us know</a>. The problem you have discovered is likely to affect others as well and the sooner we know about it, the sooner we're able to fix it for the benefit of everyone.</p>

      <h3>New Ideas</h3>
      <p>The vast majority of improvements included in each release come from the community. If there's something that you think is missing or that could be done better, <a ng-click="openURI('https://unitylinux.org/support/engage?type=idea')">please tell us</a>. Whether it's the inclusion of a missing hardware driver, a software application that should be part of a stock installation, or any other ideas on how to make Unity-Linux better, we're always interested in hearing them.</p>

      <h3>Artwork</h3>
      <p>If you are talented in graphic design and willing to contribute to the project, please send us your creations and artwork. Whether it's a simple wallpaper, an icon set, a splash screen, or even a new logo, we're always interested to hear from you about new artwork.</p>

      <h3>Code</h3>
      <p>Most of our development is done in Python, Perl, HTML5/CSS and Bash. We also use Git for version control and (naturally) RPMs for packaging. If you're comfortable with these technologies, don't hesitate to have a <a ng-click="openURI(http://github.com/unitylinux/')">look at the code</a>. If you think you can improve our applications or write new ones don't hesitate to suggest patches or to fork our Git repositories.</p>
      <p>We can help you get started with our packaging tool, <a ng-click="openURI('http://github.com/unitylinux/kp')">kp</a>, so that you can create, test and share any improvements you make.</p>

      <h2>Financial Support</h2>
      <h3>Donations</h3>
      <p>You can help by making a financial contribution to the Unity-Linux Project. Revenue from your donations allows the Unity-Linux Project to afford new hardware and equipment, maintain the server hosting costs, and to provide an income for the development team.</p>
      <a ng-click="openURI('https://unitylinux.org/contribute/donate')" class="btn btn-success">I want to Donate</a>
      <h3>Sponsor</h3>
      <p>By financially sponsoring the Unity-Linux Project, you will be giving the development team a regular and predictable income. Sponsorships are the best way to help developers plan and prioritise development costs.</p>
      <a ng-click="openURI('https://unitylinux.org/contribute/sponsor')" class="btn btn-success">I want to Sponsor</a>
    </div>
  </div>
</div>
