      <h2>GNOME 3.28</h2>
      <p>Fedora Workstation features the newest version of the GNOME desktop. GNOME now makes it easier to keep track of the things that are important to you, with two new features.</p>
      <p>In Files, it’s now possible to star files and folders. Once they’ve been added, starred items can be easily viewed in a special location that can be opened from the sidebar.</p>
