<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <div class="btn-group pull-right">
          <button class="btn btn-xs btn-default btn-google-plus" ng-click="openURI('https://plus.google.com/+Unity-LinuxProjectOrg')"><i class="fa fa-fw fa-google-plus"></i></button>
          <button class="btn btn-xs btn-default btn-facebook" ng-click="openURI('https://www.facebook.com/unitylinux')"><i class="fa fa-fw fa-facebook"></i></button>
          <button class="btn btn-xs btn-default btn-twitter" ng-click="openURI('https://twitter.com/unitylinux')"><i class="fa fa-fw fa-twitter"></i></button>
        </div>
        <li><a href="#/main">Home</a></li>
        <li class="active">New Features</li>
      </ol>
      <h1 class="page-title"><strong>Features.</strong> What's New?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div ng-show="isDE('kde plasma')" ng-include src="'partials/features-kde.html'"></div>
      <div ng-show="isDE('gnome')" ng-include src="'partials/features-gnome.html'"></div>
      <div ng-show="isDE('xfce')" ng-include src="'partials/features-xfce.html'"></div>

      <h2>LibreOffice 6.0</h2>
      <p>The latest version of the popular office suite features many changes. It includes a EPUB export filter, to save documents as e-books. Dialogs have also been improved to be more user friendly.</p>

      <h2>Fedora Media Writer</h2>
      <p>The new version of the Fedora Media Writer can create bootable SD cards with Fedora for ARM devices such as Raspberry Pi. It also features better support for Windows 7 and screenshot handling. The utility also notifies you when a new release of Fedora is available.</p>

      <h2>But wait, there's more ...</h2>
      <p>Derived from Fedora 28<a href="#footnote"><sup>1</sup></a>, Unity-Linux benefits from Fedora's long tradition of bringing the latest technologies to open source software users.</p>
      <p>A complete list with details of each new inherited feature is available at the <a ng-click="openURI('http://fedoraproject.org/wiki/Releases/28/ChangeSet')">Fedora 28 Change Set</a> page.
      <ul class="fa-ul clean">
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>Golang 1.10</b> This release contains the rebase of the Golang package to the upcoming version 1.10 in Fedora 28, including a rebuild of all dependent packages.</li>
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>Ruby 2.5</b> Ruby 2.5 is the latest stable version of Ruby. Many new features and improvements are included for the increasingly diverse and expanding demands for Ruby. With this major update from Ruby 2.4 in Fedora/Unity-Linux 26 to Ruby 2.5 in Fedora/Unity-Linux 28, Fedora/Unity-Linux becomes the superior Ruby development platform.</li>
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>Python 3.7</b> This release updates the Python 3 stack to the latest, Python 3.7.</li>
      </ul>
      <div class="callout callout-info">
        <p><a name="footnote"></a> <sup>1</sup> Unity-Linux is not provided or supported by the <a ng-click="openURI('http://fedoraproject.org/')">Fedora Project</a>. Official, unmodified Fedora software is available through the Fedora Project website.</em></p>
      </div>
    </div>
  </div>
</div>
