
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <div class="btn-group pull-right">
              <!-- <button class="btn btn-xs btn-default btn-google-plus" ng-click="openURI('https://plus.google.com/+Unity-Linux')"><i class="fa fa-fw fa-google-plus"></i></button>
	      <button class="btn btn-xs btn-default btn-facebook" ng-click="openURI('https://www.facebook.com/unitylinux')"><i class="fa fa-fw fa-facebook"></i></button>
	      <button class="btn btn-xs btn-default btn-twitter" ng-click="openURI('https://twitter.com/unitylinux')"><i class="fa fa-fw fa-twitter"></i></button>-->
            </div>
            <li class="active">{{system.distribution.version}}</li>
            <li class="active">{{system.arch}}</li>
            <li class="active">{{system.distribution.desktop}}</li>
          </ol>
          <h1 class="page-title"><strong>Welcome.</strong> This is Unity-Linux</h1>
          <div class="summary">
            <p>Thank you for choosing Unity-Linux! We, the Unity-Linux Developers, hope that you will enjoy using Unity-Linux as much as we did building it. The links below will help you get started with your new operating system.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 btn-showcase">
          <!--Body content-->
          <h4>Documentation</h4>
          <a class="btn btn-block btn-default" href="#!/readme"><i class="fa fa-book"></i> Read Me</a>
          <a class="btn btn-block btn-info" href="#!/features"><i class="fa fa-rocket"></i> New Features</a>
          <button class="btn btn-block btn-default" ng-show="isDE('gnome')" ng-click="command('gnome-help')"><i class="fa fa-life-ring"></i> GNOME Help</button>
          <button class="btn btn-block btn-default" ng-show="isDE('kde plasma')" ng-click="command('kde-help')"><i class="fa fa-life-ring"></i> KDE Help</button>
          <button class="btn btn-block btn-default" ng-show="isDE('xfce')" ng-click="command('xfce-help')"><i class="fa fa-question"></i> Xfce Help</button>
        </div>
        <div class="col-sm-4 btn-showcase">
          <h4>Support</h4>
          <button class="btn btn-block btn-default" ng-click="openURI('http://discuss.unitylinux.com/t/support')"><i class="fa fa-group"></i> Engage</button>
          <button class="btn btn-block btn-default hide"><i class="fa fa-comments"></i> Chat Room</button>
        </div>
        <div class="col-sm-4 btn-showcase">
          <h4>Project</h4>
          <a class="btn btn-block btn-default" href="#!/contribute"><i class="fa fa-hand-o-up"></i> Contribute</a>
          <button class="btn btn-block btn-success" ng-click="openURI('https://gitlab.com/unity-linux/')"><i class="fa fa-github-alt"></i> Build Unity-Linux</button>
          <button class="btn btn-block btn-primary" ng-show="system.distribution.live" ng-click="command('install')"><i class="fa fa-hdd-o"></i> Install Unity-Linux</button>
        </div>
      </div>
    </div>
